<style>
    .btn-search{
        background-color:#fe424b;
        border:none;
        color:white;
    }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-compass"></i>
        </a>

        <!-- Mobile Toggle -->
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!-- Explore -->
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <!-- Search -->
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" action="/listings" method="GET">
                    <input 
                        class="form-control me-2" 
                        type="search" 
                        name="search"
                        placeholder="Search destination" />
                    <button class="btn btn-search" type="submit">Search</button>
                </form>
            </div>

            <!-- Auth Links -->
            <div class="navbar-nav ms-auto">

                <a class="nav-link" href="/listings/new">Add new world</a>

                <% if (typeof currUser === "undefined" || currUser === null) { %>

                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>

                <% } else { %>

                    <a class="nav-link">Welcome, <%= currUser.username %></a>
                    <a class="nav-link" href="/logout"><b>Log out</b></a>

                <% } %>

            </div>

        </div>
    </div>
</nav>