body{
    font-family: "Noto Sans", sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height:100vh
}

.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color: white;

}

.fa-compass{
    color: #fe424b;
    font-size:2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
   
}
.f-info-links,.f-info-socials, .f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.f-info-socials i{
    font-size:1.2rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
.f-info{
    text-align: center;
    height:8rem;
    display:flex;
    background-color: rgb(222, 218, 218);
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 2rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-text p{
    
    font-weight:400 !important;
}

.listing-links{
    text-decoration: none !important;
    color: inherit !important;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.btn, .Edit{
    background-color: #fe424b !important;
    border:none !important
}

.show-img{
    height:30vh;
}

.btns{
    display:flex;
}
.edit-btn{
    color:#222222;
    background-color: rgb(76, 13, 201) !important;
    border:none;
    
}
.dl-btn{
    background-color: rgb(247, 9, 9) !important;
    border:none;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav{
    opacity:0.7;
}
.navbar-nav:hover{
    opacity:1;
    cursor: pointer;
    
}



.listing-preview {
    width: 200px;       
    height: auto;       
    border-radius: 8px; 
    object-fit: cover;  
}
/*
.blurred-image {
    filter: blur(2px);
    transition: filter 0.3s ease;
} */
#map { 
    height:400px;
    width:80vh;
}